:root {
  --color-background: #0e1217;
  --color-background-soft: #1c1f26;
  --color-background-mute: var(--vt-c-white-mute);
  --color-border: #a8b3cf33;
  --color-border-hover: #a8b3cf66;
  --color-heading: var(--vt-c-text-light-1);
  --color-text-primary: #ffffff;
  --color-text-secondary: #a8b3cf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
